{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["chrome 60"]
        },
        "exclude": ["babel-plugin-transform-es2015-typeof-symbol"]
      }
    ]
  ],
  "plugins": [
    "babel-plugin-transform-object-rest-spread"
  ]  
}
